<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Runtime" version="4.0.21-beta-23516" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v4" version="22.2.1.0" targetFramework="monoandroid5" />
  <package id="ZXing.Net.Mobile" version="1.5.4.0" targetFramework="monoandroid5" />
</packages>